<Modal ShowFooter="false" 
       Size="UltimateRemote.Enums.ModalSize.Small" 
       Title="@ModalTitle" VCenter="true" Show="true" BodyCss="p-1">
    <Content>
        <ul class="list-group list-group-borderless" style="font-family: 'C64Pro'">
            @foreach (var dirItem in D64Reader.DirectoryItems)
            {
                <li class="list-gorup-item list-group-item-action d-flex align-items-start justify-content-between">
                    <span class="me-2">@dirItem.Blocks</span>
                    <span class="flex-fill">@dirItem.Name</span>
                    <span>@dirItem.Type</span>
                    <i class="ph-file-arrow-up mx-1" role="button" @onclick="@(()=>ItemSelected(dirItem.Name, false))"></i>
                    <i class="ph-play mx-1" role="button" @onclick="@(()=>ItemSelected(dirItem.Name, true))"></i>
                </li>
            }
        </ul>
    </Content>
</Modal>
