@inherits BaseComponent
@using System.Text.Json
@using UltimateRemote.Models.ResponseModels
<Modal ShowFooter="false" Size="UltimateRemote.Enums.ModalSize.Large" Title="@ModalTitle" VCenter="true" Show="true" BodyCss="p-1" TitleIcon="printer ph-duotone">
    <Content>
        <div class="container">
            <div class="row">
                @if (_settingValueItems is { Length: > 0 })
                {
                    foreach (var categoryItemResponse in _settingValueItems)
                    {
                        <div class="col-6 col-md-4">
                            @switch (categoryItemResponse.ValueKind)
                            {
                                case JsonValueKind.String:
                                    <ConfigCategoryItem T="string"
                                                        CategoryName="@ModalTitle"
                                                        SectionName="@categoryItemResponse.Section"
                                                        ConfigSettings="@((ConfigCategoryItemResponse<string>)categoryItemResponse)"
                                                        ConfigUpdatedEvent="OnConfigUpdate" />
                                    break;
                                case JsonValueKind.Number:
                                    <ConfigCategoryItem T="int"
                                                        CategoryName="@ModalTitle"
                                                        SectionName="@categoryItemResponse.Section"
                                                        ConfigSettings="@((ConfigCategoryItemResponse<int>)categoryItemResponse)"
                                                        ConfigUpdatedEvent="OnConfigUpdate" />
                                    break;
                                default:
                                    <ConfigCategoryItem T="object"
                                                        CategoryName="@ModalTitle"
                                                        SectionName="@categoryItemResponse.Section"
                                                        ConfigSettings="@((ConfigCategoryItemResponse<object>)categoryItemResponse)"
                                                        ConfigUpdatedEvent="OnConfigUpdate" />
                                    break;
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </Content>
</Modal>

