@using UltimateRemote.Models
@inherits BaseFileFunctionComponent

<FunctionCard Title="@CardTitle" 
              IconClass="@DriveIconClass"
              InfoText="@Strings.Function.Infos.FloppyDrive">
    
    <a href="javascript:void(0)"
       class="text-body ph-power ph-duotone position-absolute start-0 ms-1 mt-1"
       @onclick="TogglePower"></a>
    
    <a href="javascript:void(0)"
       class="text-body ph-currency-dollar-simple @DisplayDirectory start-0 ms-1 mt-45"
       @onclick="DisplayDiskDirectory" title="@Strings.FloppyDrive.DisplayDiskDirectory"></a>

    <div class="@DisplayCommands start-0 ms-1 mt-6">
        <DropdownList T="MachineCommand" 
                      NoLabel="true"
                      ContainerCss="border-0 m-0"
                      ButtonCss="ph-asterisk border-0 p-0 ps-05 pe-1"
                      Options="@PrefsMgr.UserPrefs.FloppyDriveCommands"
                      IconFunc="command => command.IconClass"
                      LabelFunc="command => command.Name"
                      ItemSelectedEvent="ExecKeyboardBuffer" />

    </div>

    <a href="javascript:void(0)"
       class="text-body ph-gear ph-duotone position-absolute end-0 me-1 mt-6"
       @onclick="DisplayConfigurationPopUp"></a>

    <div class="fs-container rounded-top border border-bottom-0 d-flex">
        <ButtonInput IconCss="arrow-clockwise ph-duotone ms-1" Css="p-1 border-top-0 border-start-0 rounded-bottom-0 rounded-end-0 w-100" Label="Reset" ClickedEvent="@(() => ExecDriveTask(DriveTask.Reset))" />
        <ButtonInput IconCss="eject ph-duotone ms-1" Css="p-1 border-top-0 rounded-0 mx-n1 w-100" Label="Remove" ClickedEvent="@(() => ExecDriveTask(DriveTask.Remove))" />
        <ButtonInput IconCss="link-break ph-duotone ms-1" Label="Unlink" Css="p-1 border-top-0 rounded-0 mx-n1 w-100" ClickedEvent="@(() => ExecDriveTask(DriveTask.Unlink))" />
        <DropdownList T="DriveMode" Options="@(DriveMode.Drive1541.GetEnumValues()[1..])"
                      HeaderLabel="Drive Mode"
                      HeaderIconCss="hard-drive ph-duotone"
                      ContainerCss="m-0 border-start"
                      ButtonCss="border-0 rounded-0 rounded-top-end dropdown-toggle p-1"
                      LabelTemplate="Mode: {0}"
                      LabelFunc="driveMode => driveMode.GetStringValue()!"
                      ItemSelectedEvent="OnDriveModeSelect"
                      @bind-SelectedOption="DriveMode" />
    </div>

    <div class="fs-container">
        <LabelInput Css="rounded-0 m-0" LabelCss="mxw-19rem text-break" LabelHtml="@Strings.LabelInput.LabelValueHtml("Mounted File", MountedImageFile)"></LabelInput>
        <LabelInput Css="rounded-0 m-0 border-top-0" LabelCss="mxw-19rem text-break" LabelHtml="@Strings.LabelInput.LabelValueHtml("File Path", MountedImageFilePath)"></LabelInput>
        <LabelInput Css="rounded-0 m-0 border-top-0" LabelCss="mxw-19rem text-break" LabelHtml="@Strings.LabelInput.LabelValueHtml("Current ROM", CurrentRomFile)"></LabelInput>
    </div>
    <div class="fs-container d-flex justify-content-between">
        <DropdownList T="DiskMode" Options="@(DiskMode.NotSpecified.GetEnumValues())"
                      HeaderLabel="Mount Mode"
                      ContainerCss="m-0 w-50"
                      ButtonCss="rounded-0 dropdown-toggle p-1 border-end-0 w-100"
                      LabelTemplate="Mount Mode: {0}"
                      LabelFunc="diskMode => diskMode.GetStringValue()!"
                      @bind-SelectedOption="_diskMode"/>

        <DropdownList T="DiskImageType" Options="@(DiskImageType.D64.GetEnumValues())"
                      HeaderLabel="Image Type"
                      ContainerCss="m-0 w-50"
                      ButtonCss="rounded-0 dropdown-toggle p-1 w-100"
                      LabelTemplate="Image Type: {0}"
                      LabelFunc="imageType => imageType.GetStringValue()!"
                      @bind-SelectedOption="_imageType"/>

    </div>
    <FileSelector Label="@Strings.FloppyDrive.DiskImageFilePath"
                  Placeholder="@Strings.Generic.DiskImageSelectorPlaceHolder"
                  HeaderLabelContainerCss="m-0"
                  DeviceLocationButtonCss="rounded-0"
                  ActionButtonCss="rounded-0"
                  ButtonIconCss="paper-plane-tilt ph-duotone"
                  FileTypeGroups="DiskImageFileTypeGroups"
                  ModalTitleTemplate="Search Disk Image files in {0}"
                  DeviceLocations="EnabledLocations"
                  ButtonClickedEvent="MountOnDeviceImage">
        <HeaderContent>
            <RecentFilesDropdown FileTypeGroups="DiskImageFileTypeGroups"
                                 ItemSelectedEvent="DiskImageHistoryItemSelected"/>
            <ButtonInput Css="form-text border-0 m-0 p-1 mx-1" IconCss="upload ph-dutotone" ClickedEvent="MountUploadedImage"/>
        </HeaderContent>
    </FileSelector>
    <FileSelector Label="@Strings.FloppyDrive.RomFileFilePath"
                  Placeholder="@Strings.Generic.RomFileSelectorPlaceHolder"
                  HeaderLabelContainerCss="m-0"
                  ContainerCss="fs-container"
                  ButtonIconCss="paper-plane-tilt ph-duotone"
                  FileTypeGroups="AllowedFileTypeGroups"
                  ModalTitleTemplate="Search ROM files in {0}"
                  DeviceLocations="EnabledLocations"
                  ButtonClickedEvent="LoadOnDeviceRom">
        <HeaderContent>
            <RecentFilesDropdown FileTypeGroups="AllowedFileTypeGroups"
                                 ItemSelectedEvent="DriveRomHistoryItemSelected"/>
            <ButtonInput Css="form-text border-0 m-0 p-1 mx-1" IconCss="upload ph-dutotone" ClickedEvent="LoadUploadedRom"/>
        </HeaderContent>
    </FileSelector>
</FunctionCard>